{% extends "baser.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<main role="main" class="container">

    <form class="form-signin" method="post">
      {% csrf_token %}

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Backlink Takip Sistemi</h1>
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      <div class="form-group">
                <input type="text" name="username" autofocus="" class="form-control" required="" id="id_username" placeholder="Kullanıcı Adınız">
        </div>
        <div class="form-group">
  <input type="password" name="password" class="form-control" required="" id="id_password" placeholder="Parolanız">
  </div>




      <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
      <p><small><a href="/hesap/password_reset/" title="Parolamı Unuttum">Parolamı Unuttum</a></small></p>
      <p class="mt-5 mb-3 text-muted">Backlink Takip Sistemi <br/> coded by <a href="https://www.r10.net/members/50591-mckoc.html" title="Python Programlama">mckoc</a>@r10 <br/> Powered By Python</p>
    </form>
    </main>
{% endblock content %}
