{% extends "baser.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<main role="main" class="container">

    <form class="form-signin" method="post">
      {% csrf_token %}

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Parolamı Unuttum</h1>


      <div class="form-group">
        <p>
    Paroanız Yenilendi <a href="/hesap/login/">Giriş</a> yapın.
    </p>
  </div>




      <p class="mt-5 mb-3 text-muted">Backlink Takip Sistemi <br/> coded by <a href="https://www.r10.net/members/50591-mckoc.html" title="Python Programlama">mckoc</a>@r10 <br/> Powered By Python</p>
    </form>
    </main>
{% endblock content %}
